.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 0;
  height: 100%;
  color: #2b2b69;

  h1 {
    font-size: 3rem;
    font-family: "Ubuntu Condensed", sans-serif;
    font-weight: 700;
    margin-top: 0.8rem;
  }
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Ubuntu Condensed", sans-serif;
    font-weight: 500;
  }

  .button {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 0.1;
    gap: 1.1rem;
    border-radius: 1rem;
    // box-shadow: 5px 5px 5px 1px rgba(32, 31, 31, 0.2);
    height: 70vh;
    width: 40%;
    margin-top: 2rem;
    padding: 2rem 2rem 2rem 2rem;
    overflow-y: scroll;
    overflow-x: hidden;

    &::-webkit-scrollbar {
      width: 0.5rem; /* width of the entire scrollbar */
    }

    &::-webkit-scrollbar-track {
      // background: rgb(185, 183, 183); /* color of the tracking area */
      border-radius: 1rem;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgb(96, 96, 99); /* color of the scroll thumb */
      border-radius: 1rem; /* roundness of the scroll thumb */
      border: 1px solid rgb(70, 69, 68); /* creates padding around scroll thumb */
    }

    img {
      padding: 0.5rem;
      width: 4rem;
    }

    p {
      margin-top: 1rem;
      font-size: 1.3rem;
      font-family: "Ubuntu Condensed", sans-serif;
      font-weight: 700;
    }
  }
}
